baseURL = "https://www.adrianmoreno.info/"
languageCode = "en"
DefaultContentLanguage = "en"
title = "Adrián Moreno Peña · Web & Mobile Developer, all-around coder"
theme = "raditian"


# Languages
#   en
#     weight: 1
#   es
#     weight: 2

[build]
  writeStats = true
  
# Plugins
[params.plugins]

  # CSS Plugins
  [[params.plugins.css]]
  link = "css/main.css"
  [[params.plugins.css]]
  link = "css/rad-icons.css"
  [[params.plugins.css]]
  link = "css/custom.css"

  # JS Plugins
  [[params.plugins.js]]
  URL = "js/rad-animations.js"
  [[params.plugins.js]]
  URL = "js/sticky-header.js"
 

# navigation
[menu]

  [[menu.header]]
  name = "About"
  URL = "index.html#about"
  weight = 2

  [[menu.header]]
  name = "Experience"
  URL = "index.html#experience"
  weight = 3

  [[menu.header]]
  name = "Contact"
  URL = "#contact"
  weight = 4


  [[menu.footer]]
  name = "About"
  URL = "index.html#about"
  weight = 2

  [[menu.footer]]
  name = "Experience"
  URL = "index.html#experience"
  weight = 3

  [[menu.footer]]
  name = "Contact"
  URL = "#contact"
  weight = 4


[params]

  sections = ["showcase", "about", "education", "experience", "contact"]
  googleTagManagerID = "GTM-NVN2BJG" # Google Analytics works with Google Tag Manager

  [params.logo]
    text1 = "Adrián"
    text2 = "Moreno"

  [params.footer]
      copyright = "© Adrián Moreno Peña. <a href=\"https://github.com/zetxek/adrianmoreno.info\">Code available in GitHub</a>."

[taxonomies]
  book_author = "book_authors"
  book_category = "book_categories"