<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }} {{ partial "head_custom.html" . }}
  </head>

  <body>
    {{ partial "header.html" . }} {{ partial "breadcrumb.html" . }}

    <section
      id="book"
      class="section section--border-bottom rad-animation-group">
      <div class="container">
          <div class="col-12 col-md-7 mt-7 mt-sm-0">
            {{ .Title }} by {{ .Params.book_author }}
            {{ .Content | safeHTML }}
          </div>
      </div>
    </section>

    {{ partial "footer.html" . }} {{ partial "base-foot.html" . }}
  </body>
</html>
<!-- endinject -->
